<!--
<div class="navbar">
  <a class="active" routerLink=""><i class="fa fa-fw fa-home"></i> HomePage</a> 
 
<div class="navbar-right">
    <a class="navbar-item" routerLink="/sign-in">SignIn</a>
    <a class="navbar-item"routerLink="/sign-up">SignUp</a>
</div>
  
</div>
<img id="myImg" src="assets/home/image.webp" alt="Snow" style="width:100%;max-width:2000px">-->


<div>
  <div class="jumbotron">
    
      <div class="row">
          <div class="col-md-5 col-lg-6">
            <img id="myImg" src="assets/home/image.webp" alt="Snow" style="width:100%;max-width:2000px">
          </div>
         </div>
      
  </div>
</div>