<div class="container">
  <form action="action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="name"> Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Subject</label>
      </div>
      <div class="col-75">
        <select id="Subject" name="Subject">
          <option value="big data">Big Data</option>
          <option value="Cloud">Cloud</option>
          <option value="angular">Angular</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="Description">Description</label>
      </div>
      <div class="col-75">
        <textarea id="Description" name="Description" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
    <div class="row">
      <input type="cancel" value="Cancel">
    </div>
  </form>
</div>
